<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="objectscript-template.ZPM">
    <Module>
      <Name>objectscript-template</Name>
      <Version>1.1.2</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.sample.PKG"/>
    </Module>
  </Document>
</Export>